{% extends "base.html" %}
{% block content %}

<h1>Novo Medicamento</h1>


<form action="/medicamento_paciente/editar/{{medicamento_paciente.medicamentoId}}/{{medicamento_paciente.pacienteId}}" method="post">

    <div class="form-row">
        <div class="col-sm-12 col-lg-6 mt-2">
            <select class="custom-select" name="medicamentoId" id="cars" default={{medicamento_paciente.medicamentoId}}>
                {% for medicamento in medicamentos %}
                    {% if medicamento.id == medicamento_paciente.medicamentoId %}
                        <option value="{{medicamento.id}}" selected>{{medicamento.nome}}</option>
                    {% else %}
                        <option value="{{medicamento.id}}">{{medicamento.nome}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="quantidade" id="quantidade" value="{{medicamento_paciente.quantidade}}" placeholder="Quantidade do Medicamento" required>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <label>Unidade de Medida do Medicamento</label>
            <select id="inputState" class="form-control" name="unidadeDeMedida">
                <option value="litro" selected>(L)</option>
                <option value="mililitros">(ml)</option>
                <option value="grama" selected>(g)</option>
                <option value="miligrama">(mg)</option>
                <option value="micrograma" selected>(mcg)</option>
                <option value="kilograma">(Kg)</option>
                <option value="centímetro cúbico" selected>(cc)</option>
            </select>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="date" class="form-control" name="dataVencimento" id="dataVencimento" value="{{medicamento_paciente.dataVencimento.strftime('%Y-%m-%d')}}"
                data-toggle="tooltip" data-placement="right" title="Data de vencimento do medicamento" required>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="text-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <button class="btn btn-success mt-4 col-md-2" type="submit">Salvar</button>

</form>




{% endblock %}