{% extends "base.html" %}
{% block content %}

<h1>Novo Medicamento</h1>


<form action="/medicamento_paciente/novo/{{paciente_id}}" method="post">

    <div class="form-row">
        <div class="col-sm-12 col-lg-6 mt-2">
            <select class="custom-select" name="medicamentoId" id="cars">
                {% for medicamento in medicamentos %}
                    <option value="{{medicamento.id}}">{{medicamento.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade do Medicamento" required>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <label>Unidade de Medida do Medicamento</label>
            <select id="inputState" class="form-control" name="unidadeDeMedida">
                <option value="l">Litro - L</option>
                <option value="ml">Mililitros - ml</option>
                <option value="g">Grama - g</option>
                <option value="mg">Miligrama - mg</option>
                <option value="mcg">Micrograma - mcg</option>
                <option value="kg">Kilograma - kg</option>
                <option value="cc">Centímetro cúbico - cc</option>
            </select>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="date" class="form-control" name="dataVencimento" id="dataVencimento"
            data-toggle="tooltip" data-placement="right" title="Data de vencimento do medicamento" required>
        </div>
    </div>
    
    <button class="btn btn-success mt-4 col-md-2" type="submit">Salvar</button>

</form>




{% endblock %}