{% extends "base.html" %}
{% block content %}

 <!-- card  -->
 <div class="card mt-2">
    <!-- card header  -->
    <div class="card-header bg-white border-bottom-0 py-7">
      <h2 class="d-flex justify-content-center">Pacientes</h2>
      <a class="btn btn-success text-white mt-2" href="/paciente/novo">Novo</a>
    </div>
    <!-- table  -->
    <div class="table-responsive">
      <table class="table text-nowrap mb-0">
        <thead class="table-dark">
          <tr>
            <th>Nome do paciente</th>
            <th>Nome do responsavel pelo paciente</th>
            <th>Telefone do responsavel</th>
            <th>Data da internação</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
          <tr>
            <td class="align-middle"><div class="d-flex
                align-items-center">
                <div class="ms-3 lh-1">
                  <p class="fw-bold mb-1">{{paciente.nome}}</p>

                </div>
              </div></td>
            <td class="align-middle">{{paciente.nomeResponsavel}}</td>
            <td class="align-middle">{{paciente.telefoneResponsavel}}</td>
            <td class="align-middle"><span class="badge
                badge-warning">{{paciente.dataInternacao.strftime('%d/%m/%Y')}}</span></td>
                <td><a href="/paciente/editar/{{paciente.id}}" class="btn btn-success">Editar</a></td>
                <td><a href="/paciente/excluir/{{paciente.id}}" class="btn btn-danger">Excluir</a></td>
          </tr>
              </div>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock %}