{% extends "base.html" %}
{% block content %}

<h1>Novo Paciente</h1>


<form action="/paciente/novo" method="post">


    
    <div class="form-row">
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do Paciente">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" placeholder="Data de Nascimento" required
            data-toggle="tooltip" data-placement="right" title="Data de Nascimento do Paciente">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="number" step="0.01" class="form-control" name="altura" id="altura" placeholder="Altura">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
          <input type="number" class="form-control" name="peso" id="peso" placeholder="Peso">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="nomeResponsavel" id="nomeResponsavel" placeholder="Nome do Responsavel">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="tel" class="form-control" name="telefoneResponsavel" id="telefoneResponsavel" placeholder="Telefone do Responsavel">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="date" class="form-control" name="dataInternacao" id="dataInternacao"
            data-toggle="tooltip" data-placement="right" title="Data de internação do Paciente">
        </div>
    </div>
    
      <button class="btn btn-success mt-4 col-md-2" type="submit">Salvar</button>

</form>




{% endblock %}