{% extends "base.html" %}
{% block content %}

<div class="container  flex-column mt-2">
    <div class="card smooth-shadow-md mt-2 ">
        <!-- Card body -->
        <div class="card-body p-6">
            <div class="mb-4">
                <h2 class="d-flex justify-content-center">Alterar Senha</h2>
<div class="alert alert-warning" role="alert">
    <b>Olá</b> Você deve alterar sua senha, para usar o sistema.
</div>
<form action="/usuario/alterar_senha" method="post">
    <div class="form-row">
        <div class="col-sm-12 col-lg-8 mt-2">
            <input type="password" class="form-control" name="senha" id="senha" placeholder="Nova Senha" required>
        </div>
    </div>
    <button class="btn btn-success mt-4" type="submit">Salvar</button>
</form>
            </div>
        </div>
            
    </div>
        
</div>
   




{% endblock %}