{% extends "base.html" %}
{% block content %}
<h1>Alterar Senha</h1>
<div class="alert alert-warning" role="alert">
    <b>Olá</b> Você deve alterar sua senha, para usar o sistema.
</div>
<form action="/usuario/alterar_senha" method="post">
    <div class="form-row">
        <div class="col-sm-12 col-lg-8 mt-2">
            <input type="password" class="form-control" name="senha" id="senha" placeholder="Nova Senha" required>
        </div>
    </div>
    <button class="btn btn-success mt-4" type="submit">Salvar</button>
</form>



{% endblock %}