{% extends "base.html" %}
{% block content %}


<div class="container  flex-column mt-2">
    <a href="/usuario" class="btn btn-primary mt-4" type="submit">
        <i class="material-icons">arrow_back</i>
        Voltar
    </a>
            <div class="card smooth-shadow-md mt-2 ">
                <!-- Card body -->
                <div class="card-body p-6">
                    <h1>Novo Usuário</h1>
                    <hr>
                    <form action="/usuario/novo" method="post">
                        <div class="form-row">
                            <div class="col-sm-12 col-lg-6 mt-2">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" name="nome" id="nome"
                                    placeholder="Nome Completo" required>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                                <label for="Login">Login</label>
                                <input type="text" class="form-control" name="login" id="login" placeholder="Login"
                                    required>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                                <label>Tipo de Usuário</label>
                                <select id="inputState" class="form-control" name="tipo">
                                    <option value="comum" selected>Comum</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                                <label>Informe seu CEP</label>
                                <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" required>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col"></div>
                            <button class="btn btn-success mt-4 col-md-2" type="submit">Salvar</button>
                        </div>

                    </form>
                </div>
            </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="text-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}




{% endblock %}