{% extends "base.html" %}
{% block content %}
<a href="/medicamento"> < Voltar</a>

<h1>Editar Medicamento</h1>
<hr>
<form action="/medicamento/editar/{{medicamento.id}}" method="post">
    <div class="form-row">
        <div class="col-sm-12 col-lg-6 mt-2">
            <label>Nome do Medicamento</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome Completo"
                value="{{medicamento.nome}}" required>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <label>Descrição do Medicamento</label>
            <input type="text" class="form-control" name="descricao" id="descricao"
                value="{{medicamento.descricao}}" required>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <label>Data de Criação</label>
            <input type="text" disabled class="form-control" name="dataCriacao" id="dataCriacao"
                value="{{medicamento.dataCriacao.strftime('%d/%m/%Y %H:%M:%S')}}">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2 ml-4">
            <input type="checkbox" class="form-check-input" name="psicotropico" id="psicotropico" 
            {% if medicamento.psicotropico %} checked="checked" {% endif %}>
            <label class="form-check-label" for="psicotropico">Medicamento psicotrópico</label>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-success mt-5 col-md-2" type="submit">Salvar</button>
        </div>
</form>
{% endblock %}