{% extends "base.html" %}
{% block content %}

            
                 <!-- Card -->
            <div class="container  flex-column mt-2">
                <a href="/medicamento" class="btn btn-success mt-4 col-md-1"> < Voltar</a>
                <div class="card smooth-shadow-md  mt-2 ">
                  <!-- Card body -->
                  <div class="card-body p-6">
                    <div class="mb-4">
                      <a href="../index.html"><img src="../assets/images/brand/logo/logo-primary.svg" class="mb-2" alt=""></a>
                      <h2 class="d-flex justify-content-center">Editar Medicamento</h2>
                    </div>
                    <!-- Form -->
                    <form action="/medicamento/editar/{{medicamento.id}}" method="post">
                      <div class="form-row">
                          <div class="col-sm-12 col-lg-6 mt-2">
                              <label>Nome do Medicamento</label>
                              <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome Completo"
                                  value="{{medicamento.nome}}" required>
                          </div>
                          <div class="col-sm-12 col-lg-6 mt-2">
                              <label>Descrição do Medicamento</label>
                              <input type="text" class="form-control" name="descricao" id="descricao"
                                  value="{{medicamento.descricao}}" required>
                          </div>
                          <div class="col-sm-12 col-lg-6 mt-2">
                              <label>Data de Criação</label>
                              <input type="text" disabled class="form-control" name="dataCriacao" id="dataCriacao"
                                  value="{{medicamento.dataCriacao.strftime('%d/%m/%Y %H:%M:%S')}}">
                          </div>
                          <div class="col-sm-12 col-lg-6 mt-2 ml-4">
                              <input type="checkbox" class="form-check-input" name="psicotropico" id="psicotropico" 
                              {% if medicamento.psicotropico %} checked="checked" {% endif %}>
                              <label class="form-check-label" for="psicotropico">Medicamento psicotrópico</label>
                          </div>
                          <div class="col-sm-12">
                              <button class="btn btn-success mt-5 col-md-2" type="submit">Salvar</button>
                          </div>
                  </form>
{% endblock %}