{% extends "base.html" %}
{% block content %}

<!-- card  -->
<div class="card mt-2">
  <!-- card header  -->
  <div class="card-header bg-white border-bottom-0 py-4">
    <h2 class="d-flex justify-content-center">Medicamentos</h2>
    <a class="btn btn-info" href="/medicamento/novo">
      <i class="material-icons">add</i>
      Novo
    </a>
    <div class="col-sm-5">
      <form class="form-inline mt-5" method="GET" action="/medicamento/buscar">
        <div class="col-sm-12 col-lg-4 form-group">
          <label for="nome" class="bmd-label-floating">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>  
  </div>

  </div>
  <!-- table  -->
  <div class="table-responsive">
    <table class="table text-nowrap mb-0">
      <thead class="table-dark">
        <tr>
          <th>Nome do Medicamento</th>
          <th>Descrição</th>
          <th>Psicotropico</th>
          <th>Data de criação</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for medicamento in medicamentos %}
        <tr>
          <td>{{medicamento.nome}}</td>
          <td>{{medicamento.descricao}}</td>
          {% if medicamento.psicotropico %}
          <td>Sim</td>
          {% else %}
          <td>Não</td>
          {% endif %}
          <td>{{medicamento.dataCriacao.strftime('%d/%m/%Y')}}</td>
          <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-success">Editar</a></td>
          <td><a href="/medicamento/excluir/{{medicamento.id}}" class="btn btn-danger">Excluir</a></td>
        </tr>
  </div>

  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>  

{% endblock %}