{% extends "base.html" %}
{% block content %}
<h1>Medicamentos</h1>
<a class="btn btn-success text-white mt-2" href="/medicamento/novo">Novo</a>

<div class="table-responsive mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Nome do Medicamento</th>
                <th>Descrição</th>
                <th>Psicotropico</th>
                <th>Data de criação</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamento in medicamentos %}
            <tr>
                <td>{{medicamento.nome}}</td>
                <td>{{medicamento.descricao}}</td>
                {% if medicamento.psicotropico %}
                    <td>Sim</td>
                {% else %}
                    <td>Não</td>
                {% endif %}
                <td>{{medicamento.dataCriacao.strftime('%d/%m/%Y')}}</td>
                <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-success">Editar</a></td>
                <td><a href="/medicamento/excluir/{{medicamento.id}}" class="btn btn-danger">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}