{% extends "base.html" %}
{% block content %}

<h1>Novo medicamento</h1>


<form action="/medicamento/novo" method="post">
    <div class="form-row">
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do Medicamento">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="date" class="form-control" name="dataVencimento" id="dataVencimeto" placeholder="Data de Vencimento" required>
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
            <input type="text" class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade">
        </div>
        <div class="col-sm-12 col-lg-6 mt-2">
          <input type="text" class="form-control" name="peso" id="peso" placeholder="Peso">
        </div>

    </div>
    
    <div class="row">
      <div class="col"></div>
      <button class="btn btn-success mt-4" type="submit">Salvar</button>
    </div>
    
</form>




{% endblock %}