<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizing To Care</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imagens/favicon.ico')}}">

    <!--Fonts and icons-->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/material-dashboard.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="wrapper">


        <!--Sidebar-->
        <div class="sidebar" data-color="purple" data-background-color="black">

            <div class="logo">
                <a href="/home" class="simple-text logo-normal">
                    Organizing To Care
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="text-primary material-icons">home</i>
                            <p>Página Inicial</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/medicamento">
                            <i class="text-primary material-icons">healing</i>
                            <p>Medicamentos</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/paciente">
                            <i class="text-primary material-icons">elderly</i>
                            <p>Pacientes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sair">
                            <i class="text-danger material-icons">logout</i>
                            <p>Sair</p>
                        </a>
                    </li>
                    {% if session['usuario_tipo'] == 'administrador' %}
                    <li class="nav-item active-pro">
                        <a class="nav-link" href="/usuario">
                            <i class="text-info material-icons">person</i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--End Sidebar-->

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form"></form>
                    </div>
                </div>
            </nav>
            <!--End Navbar-->

            <!--Content-->
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <!--End Content-->
        </div>
    </div>
    <script src="{{url_for('static', filename='js/core/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/core/bootstrap-material-design.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/material-dashboard.js')}}"></script>
</body>

</html>