{% extends "base.html" %}
{% block content %}

<br>
<selection id="home" class="d-flex">
    <div class="container align-self-center">
      <div class="row" >
        <div class="col-md-10 capa">
      
      <div id="carousel-controles" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="{{url_for('static', filename='imagens/1.jpg')}}" alt="New york" style="width:100% " class="img-fluid">
          </div>

          <div class="carousel-item">
            <img src="{{url_for('static', filename='imagens/2.jpg')}}" alt="New york" style="width:100% " class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename='imagens/3.jpg')}}" alt="New york" style="width:100%" class="img-fluid">
          </div>

        
        </div>
        <a href="#carousel-controles" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#carousel-controles" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      

      
      

    </div><!--/col-sm8 -->
  </div><!--/Row -->
</div><!--/Container --->
</selection>
<hr>
<h1>Bem vindo</h1>
<hr>
<div class="table-responsive mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Data Vencimento</th>
                <th>Visualizar</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamento in medicamentos %}
            <tr>
                <td>{{medicamento.nome}}</td>
                {% if medicamento.vencido %}
                <td style="color: red;">{{medicamento.dataVencimento.strftime('%d/%m/%Y')}}</td>
                <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-warning">Visualizar</a></td>
                {% endif %}
                {% if not medicamento.vencido %}
                <td>{{medicamento.dataVencimento.strftime('%d/%m/%Y')}}</td>
                <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-success">Visualizar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
{% endblock %}