{% extends "base.html" %}
{% block content %}
<div class="container  flex-column mt-2">
    <div class="card smooth-shadow-md ">
      <!-- Card body -->
        <div class="card-body p-6">
            <div class="mb-4">
                <h2 class="d-flex justify-content-center">Bem vindo</h2>
<hr>
<div class="table-responsive mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Data Vencimento</th>
                <th>Visualizar</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for medicamento in medicamentos %}
            <tr>
                <td>{{medicamento.nome}}</td>
                {% if medicamento.vencido %}
                <td style="color: red;">{{medicamento.dataVencimento.strftime('%d/%m/%Y')}}</td>
                <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-warning">Visualizar</a></td>
                {% endif %}
                {% if not medicamento.vencido %}
                <td>{{medicamento.dataVencimento.strftime('%d/%m/%Y')}}</td>
                <td><a href="/medicamento/editar/{{medicamento.id}}" class="btn btn-success">Visualizar</a></td>
                {% endif %}
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}