{% extends "base.html" %}
{% block content %}


<div class="container  flex-column mt-2">
    <a href="/medicamento_paciente/editar/{{medicamento_paciente_id}}" class="btn btn-primary mt-2 col-md-1 " > < Voltar</a></Voltar>
    <br>
	<div class="card smooth-shadow-md mt-2 ">
		<div class="card-body p-6">
            <h2 class="d-flex justify-content-center">Novo Estoque de Medicamento</h2>

            <form action="/medicamento_estoque/novo/{{medicamento_paciente_id}}" method="post">
                <div class="form-row">
                    <div class="col-sm-12 col-lg-6 mt-2">
                        <label for="Data de vencimento do medicamento">Data de vencimento do medicamento</label>
                        <input type="date" class="form-control" name="dataVencimento" id="dataVencimento" required>
                    </div>
                    <div class="col-sm-12 col-lg-6 mt-2">
                        <label for="Quantidade">Quantidade</label>
                        <input type="number" class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade" required>
                    </div>
                    <div class="col-sm-12 col-lg-6 mt-2">
                        <label for="Quantidade">Lote</label>
                        <input type="text" class="form-control" name="lote" id="lote" placeholder="Lote" required>
                    </div>
                    <div class="col-sm-12 col-lg-6 mt-2">
                        <label for="nomePessoaTrouxeMedicamento">Nome de quem trouxe o medicamento</label>
                        <input type="text" class="form-control" name="nomePessoaTrouxeMedicamento" id="nomePessoaTrouxeMedicamento" placeholder="Nome de quem trouxe o medicamento" required>
                    </div>
                </div>
                <button class="btn btn-success mt-4 col-md-2" type="submit">Salvar</button>
            </form>
		</div>
	</div>
</div>
  






{% endblock %}